<div class="container-center">
    <div class="container-left">
        <div class="shadow-box article-wrap">
            <h1 class="t-h1">{{.article.Title}}</h1>
            <div class="clearfix article-other">
                <span class="pull-left author">
                    <a class="author-name2 hx-card" href="/" target="_blank">{{.article.Author}}</a>
                </span>
                <time class="pull-left time">{{date .article.Created "Y-m-d H:i"}}</time>
                <ul class="pull-left list-inline tag-box">
                    {{range .tags}}
                    <li>
                        <a href="/search.html?searchKey={{.}}" target="_blank">{{.}}</a>
                    </li>
                    {{end}}
                </ul>
                <span class="pull-right action-box">
                    <a class="cmt" href="#odby" title="评论数"><i class="i-icon icon-cmt"></i>评论(<em>{{.article.Comments}}</em>)</a>
                    <a class="cmt" href="#odby" title="浏览数"><i class="i-icon my-icon-eye-open"></i>浏览(<em>{{.article.Views}}</em>)</a>
                </span>
            </div>

            <div class="art-ctt-iframe">
                <div id="article_content" class="article-content-wrap" style="overflow: hidden;">
                    {{.article.Content}}
                </div>
            </div>
            <div class="clearfix article-btm-other">
                <div class="pull-right article-type">
                <span class="pull-left like-wrap" aid="111369">
                    <span class="bdr-box tool-tip like" title="喜欢"><i class="i-icon2 icon-like"></i></span>
                    <em>0</em>
                </span>
                    <span class="pull-left no-like-wrap" aid="111369">
                    <span class="bdr-box tool-tip no-like" title="没劲"><i class="i-icon2 icon-no-like"></i></span>
                    <em>0</em>
                </span>
                </div>
            </div>
        </div>
        <div class="clearfix shadow-box mod-info-flow">
            <div class="clearfix mod-b mod-jinju">
            </div>
        </div>
    </div>
    {{template "common/right.html" .}}
</div>