<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情页</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="/static/css/item.css" />
    <script type="text/javascript" src="/static/js/flexible.js"></script>
</head>
<body>
<div class="app">
    <div class="carousel">
        <img style="width: 100%" src="https://gd1.alicdn.com/imgextra/i1/203036173/TB20Q0EX3_xQeBjy0FoXXX1vpXa_!!203036173.jpg?" />
    </div>
    <div class="box title">
        <div>
            ZZhen2016秋装新款 百搭宽松大码洞洞毛衣韩范大袖镂空毛线
        </div>
    </div>
    <div class="box props">
        <div class="price">
            ￥0.01~0.50
        </div>
        <div class="stock">
            库存：57
        </div>
    </div>
    <div class="box relates">
        <div class="icons top-line bottom-line">
            <div class="relate">
                <div class="img"><img src="http://bee-img.ecrm.so/mifengyouhuo/icon_right.png"></div>
                <div class="icon">包邮</div>
            </div>
            <div class="relate">
                <div class="img"><img src="http://bee-img.ecrm.so/mifengyouhuo/icon_right.png"></div>
                <div class="icon">72小时发货</div>
            </div>
            <div class="relate">
                <div class="img"><img src="http://bee-img.ecrm.so/mifengyouhuo/icon_right.png"></div>
                <div class="icon">7天退货</div>
            </div>
            <div class="relate">
                <div class="img"><img src="http://bee-img.ecrm.so/mifengyouhuo/icon_right.png"></div>
                <div class="icon">假一赔十</div>
            </div>
        </div>
    </div>
    <div class="box desc">
        <div class="text_image_wrap">
            <div class="text_image_img">
                <img class="image_img" src="https://img.alicdn.com/imgextra/i3/203036173/TB2RHbuiFXXXXbGXpXXXXXXXXXX_!!203036173.jpg?" alt="图片">
            </div>
            <div class="text_image_img">
                <img class="image_img" src="https://img.alicdn.com/imgextra/i1/203036173/TB2JPsoX4fxQeBjSsppXXXeoFXa_!!203036173.jpg?" alt="图片">
            </div>
            <div class="text_image_word">
                无论时尚怎么变，针织毛衣还会是众多妹纸的挚爱，
            </div>
            <div class="text_image_img">
                <img class="image_img" src="https://img.alicdn.com/imgextra/i3/203036173/TB2QJfuXBLzQeBjSZFjXXcscpXa_!!203036173.jpg?" alt="图片">
            </div>
            <div class="text_image_img">
                <img class="image_img" src="https://img.alicdn.com/imgextra/i3/203036173/TB2xJYtXunAQeBjSZFGXXazoFXa_!!203036173.jpg?" alt="图片">
            </div>

        </div>
    </div>
    <div class="box footer">
        <div class="btn_box top-line">
            <div class="btn sub">
                <div class="sub_btn">
                    首页
                </div>
                <div class="sub_btn">
                    店铺
                </div>
            </div>
            <div class="btn yellow">
                购买
            </div>
        </div>
    </div>
</div>
</body>
</html>