
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>格子秀旗舰店</title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <script type="text/javascript" src="/static/js/flexible.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <link rel="stylesheet" href="/static/css/common.css"/>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js?v=2.5.1"></script>
    <script type="text/javascript">
        var wxConfig = {
            debug: false,
            appId: 'wx093a7087c59fbc99',
            timestamp: 1494940913,
            nonceStr: 'BOAmLw7GBUPTbUbl',
            signature: '282a742f90d0b8dc92d4ecd595619fba122183a5',
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'previewImage','hideAllNonBaseMenuItem','chooseImage','uploadImage']
        };
        wx.config(wxConfig);
        wx.ready(function () {
            wx.onMenuShareTimeline({
                title: "蜜蜂有货,搜罗新鲜好货!",
                link: 'https://online.ecrm.so/mall/1.html?&mid=599',
                imgUrl: "http://bee-img.ecrm.so/mifengyouhuo/icon.jpeg@300h_300w_1e_1c.src" // 分享图标
            });
            wx.onMenuShareAppMessage({
                title: "蜜蜂有货,搜罗新鲜好货!",
                desc: "不做无趣的转发，只为热爱而分享",
                link: 'https://online.ecrm.so/mall/1.html?&mid=599',
                imgUrl: "http://bee-img.ecrm.so/mifengyouhuo/icon.jpeg@300h_300w_1e_1c.src" // 分享图标
            });
        });
    </script>
</head>

<body>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a class="swiper-slide-link" href="" style="background-image: url(http://bee-img-test.ecrm.so/6/item/5mPWBAhE8Q1493014393300.png@420h_750w_1e_1c.src);">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="swiper-slide-link" href="" style="background-image: url(http://bee-img-test.ecrm.so/6/item/5mPWBAhE8Q1493014393300.png@420h_750w_1e_1c.src);">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="swiper-slide-link" href="" style="background-image: url(http://bee-img-test.ecrm.so/6/item/5mPWBAhE8Q1493014393300.png@420h_750w_1e_1c.src);">
            </a>
        </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>

<div class="tabs">
    <div class="tab_bar">
    <span class="tab tab-active" data-id="0">
      格子秀旗舰店
    </span>
        <span class="tab tab-active" data-id="0">
      最新
    </span>
        <span class="tab" data-id="0">
      最热
    </span>

    </div>
</div>

<div class="item-list">
    <a class="item" href="/item/123581.html">
        <div class="item-image" style="background-image:url(http://bee-img.ecrm.so/mifengyouhuo/activity/mifenghuami.png)"
             data-original="https://img.alicdn.com/bao/uploaded/i2/TB1Q.6GOFXXXXabapXXXXXXXXXX_!!0-item_pic.jpg?340h_340w_1e_1c.src"></div>
        <p class="title">【百草味-仁仁果学霸装525g】每日坚果仁礼盒 干果孕妇零食大礼</p>
        <p><span class="price">￥1.00</span> <span
                class="market-price">￥100.00</span></p>
        <p class="amount-alert-message">
            花蜜最高可抵1.00元
            &nbsp;
        </p>
    </a>
    <a class="item" href="/item/1235179.html">
        <div class="item-image" style="background-image:url(http://bee-img.ecrm.so/mifengyouhuo/activity/mifenghuami.png)"
             data-original="http://bee-img-test.ecrm.so/1234217/item/NxSNdMeWWt1494467452949.jpeg@2o_340h_340w_1e_1c.src"></div>
        <p class="title">重回汉唐</p>
        <p><span class="price">￥0.01</span> <span
                class="market-price">￥100.00</span></p>
        <p class="amount-alert-message">
            花蜜最高可抵0.01元
            &nbsp;
        </p>
    </a>
</div>
<div class="footer">
    <a class="footer-item " href="/activity/report/list.html">
        <div class="footer-img bee">
            <img class="icon-normal" src="http://bee-img.ecrm.so/icons/report.png" alt="">
            <img class="icon-active" src="http://bee-img.ecrm.so/icons/report-active.png" alt="">
        </div>
        <p class="footer-text text-active">蜂言蜂语</p>
    </a>
    <a class="footer-item " href="/">
        <div class="footer-img try">
            <img class="icon-normal" src="http://bee-img.ecrm.so/icons/try.png" alt="">
            <img class="icon-active" src="http://bee-img.ecrm.so/icons/try-active.png" alt="">
        </div>
        <p class="footer-text">蜜蜂试用</p>
    </a>
    <a class="footer-item active" href="/mall/index.html">
        <div class="footer-img center">
            <img class="icon-normal" src="http://bee-img.ecrm.so/icons/mall.png" alt="">
            <img class="icon-active" src="http://bee-img.ecrm.so/icons/mall-active.png" alt="">
        </div>
        <p class="footer-text">花蜜商城</p>
    </a>
    <a class="footer-item " href="/buyer/center.html">
        <div class="footer-img center">
            <img class="icon-normal" src="http://bee-img.ecrm.so/icons/my.png" alt="">
            <img class="icon-active" src="http://bee-img.ecrm.so/icons/my-active.png" alt="">
        </div>
        <p class="footer-text">我的蜂巢</p>
    </a>
</div><div id="pop_confirm" class="pop" style="display: none;">
    <div
            style="color: #fff;font-size: 40px;text-align: center;margin: 2.8rem auto 0.13333rem;font-weight: lighter;-webkit-transform:rotate(6deg);transform:rotate(6deg);">
        ?
    </div>
    <div class="pop_content"
         style="width:8rem;color: #fff;font-size: 15px;line-height: 27px;margin: 0 auto 2.6667rem;text-align: center;">
    </div>
    <div id="pop_sure"
         style="height: 0.85333rem;width: 1.12rem;margin: 0 auto 2.6667rem;">
        <img src="http://bee-img.ecrm.so/mifengyouhuo/sure.png"
             style="width: 100%;height: 100%;">
    </div>
    <div id="pop_cancel"
         style="width: 0.72rem;height: 0.85333rem;margin:0 auto 2.6667rem;">
        <img src="http://bee-img.ecrm.so/mifengyouhuo/cancel.png"
             style="width: 100%;height: 100%;"/>
    </div>
</div>

<!--警告框-->
<div id="pop_warn" style="z-index:1024;top:0;left:0;position:fixed;width: 100%;height: 100%;display: none;">
    <div
            style="display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;width: 100%;height: 100%;flex-direction:column;">
        <div style="-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;">
        </div>
        <div style="width: 100%;">
            <div id="pop_warn_content"
                 style="width: 3.5867rem;margin: auto;padding: 0.37333rem 0.2933rem;border-radius: 0.2rem;font-size:0.42667rem;color:#ffd900;line-height:0.64rem;word-break: break-all;background-color: rgba(0,0,0,0.8);text-align: center;">
            </div>
        </div>
        <div style="-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;">
        </div>
    </div>
</div>
<!--成功框-->
<div id="pop_success" style="top:0;left:0;position:fixed;width: 100%;height: 100%;display: none;">
    <div
            style="display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;width: 100%;height: 100%;flex-direction:column;">
        <div style="-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;">
        </div>
        <div style="width: 100%;">
            <div id="pop_success_content"
                 style="width: 3.5867rem;margin: auto;padding: 0.37333rem 0.2933rem;border-radius: 0.2rem;font-size:0.42667rem;color:#ffd900;line-height:0.64rem;word-break: break-all;background-color: rgba(0,0,0,0.8);text-align: center;">
            </div>
        </div>
        <div style="-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;">
        </div>
    </div>
</div>

<!--加载框-->
<div id="pop_load" style="top:0;left:0;position:fixed;width: 100%;height: 100%;display: none;">
    <div
            style="display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center;width: 100%;height: 100%;">
        <div style="-webkit-box-flex: 1;-webkit-flex: 1;flex: 1;">
            <div
                    style="margin:auto;width: 3.5rem;padding:0.8rem 0 1.333rem;-webkit-box-sizing:border-box;sizing:border-box;background-size:100% 100%;background-image:url(http://bee-img.ecrm.so/mifengyouhuo/b_liubianxing.png);">
                <p style="color: #FFD900;font-size:1.0667rem;text-align: center;">
                    <img src="http://bee-img.ecrm.so/mifengyouhuo/uploader.gif" alt="" style="width: 1.36rem;height: 1.32rem;"/>
                </p>
                <p id="pop_load_content"
                   style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;color: white;font-size: 0.4rem;line-height: 1.4;text-align: center;padding: 0.08rem;min-width: 3.4667rem;"></p>
                <div id="pop_load_process" style="text-align: center;display: none;">
                    <div style="width: 50%;display: inline-block;border: 1px solid white;">
                        <p id="pop_load_process_bar" style="height: 4px;width: 0%;background: white;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--请求加载-->
<style>
    #require-loading {
        position: fixed;
        left: 50%;
        top: 6.2666rem;
        margin-left: -2.08rem;
    }

    .require-loading-img {
        -webkit-animation: myfirst 2s linear infinite;
        animation: myfirst 2s linear infinite;
    }

    @keyframes myfirst {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes myfirst {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
</style>
<div id="require-loading"
     style="width: 4.16rem;height: 3.0666rem;background: rgba(0,0,0,0.8);border-radius: 0.2rem;text-align: center;display:none;">
    <p style="padding-top: 0.76rem;padding-bottom:0.4266rem;font-size: 0.4533rem;color: white;text-align: center;line-height: 1;">
        请求加载中</p>
    <img class="require-loading-img" src="http://bee-img.ecrm.so/mifengyouhuo/activity/wait.png" alt=""
         style="height: 0.64rem;width: 0.64rem;"/>
</div>
<script src="/static/js/zepto.min.js?v=2.4.1"></script>
<script src="/static/js/fastclick.js?v=2.4.1"></script>
<script src="/static/js/zepto.picLazyLoad.min.js?v=2.4.1"></script>
<script src="/static/js/swiper.3.1.js"></script>
<script>
    Zepto(function () {
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: 5000,
            // 如果需要分页器
            pagination: '.swiper-pagination'
        });
        var isSuccess = true;
        $('.item-image[data-original]').picLazyLoad();//懒加载
        var status = {
            page: 2,
            url: '/mall/next/1?page=',
            hasData: true,
            scrollTop: 0
        };

        $(document).on('scroll', function (event) {
            var scrollTop = $('body').scrollTop();
            var offset = $('.use-tabs').eq(0).offset();
            var diff = $('body').height() - scrollTop - $('html').height();
            // if (diff < 10 && isSuccess) {
            //   if (status.hasData) {
            //     isSuccess = false;
            //     $.ajax({
            //       type: 'get',
            //       url: status.url + status.page,
            //       dadaType: 'json',
            //       success: function (data) {
            //         var message;
            //         isSuccess = true;
            //         if (data.code !== 200) {
            //           common.warning(data.message);
            //           return false;
            //         }
            //         message = JSON.parse(data.message);
            //         $('.item-list').append(data.model);
            //         if (message.pageNum >= message.totalPage) {
            //           status.hasData = false;
            //         } else {
            //           status.page += 1;
            //         }
            //         $('.item-image[data-original]').picLazyLoad();//懒加载
            //       },
            //       error: function (error) {
            //         isSuccess = true;
            //         common.ajax_error(error);
            //       }
            //     })
            //   }
            // }
        });
        var cw = $('.tabs')[0].clientWidth;
        var t = $('.tab.tab-active').offset().left + $('.tab.tab-active').offset().width;
        $('.tab_bar')[0].scrollLeft = (t - (cw * 0.5) );
    });
</script>
</body>

</html>